html, body{
	margin: 0;
	padding: 0;
	background: #fff;
	font-family:  "source-code-pro","Source Code Pro",  monospace;
	font-weight: 400;
	font-size: 12px;
	width: 100%;
	min-height: 100%; 
	padding: 8px;
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
} 

* {	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


.show { display: block !important; }
.hide { display: none !important; }

.editor-bar,
.content-wrapper,
h1,h2,h3,h4,h5,h6,ul,ol,p,code,img,video {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
}

.editor-bar,
.content-wrapper {
	margin: 8px 0;
	padding: 8px;
	background: #F6F6F6;
	border: 1px solid #ddd;
}


/* Editor bar */
.editor-bar {
	border-radius: 3px;
	text-align: center;
	padding: 0;
	height: 30px;
}

.menu-option {
	position: relative;
	float: left;
	width: auto;
	padding: 0 16px;
	border-right:1px solid #ddd;
	cursor: pointer;
	line-height: 30px;
}

.menu-option:last-child {
	border: none;
}

.menu-variants {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left:0px;
	background: #f6f6f6;
	display: none;
}

.menu-variants .menu-option {
	border: none;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.menu-variants .menu-option:nth-child(2n+1) {
	background: #ddd;
}

/* content type */
.content-wrapper.h1-tag {
	font-size: 28px;
	line-height: 36px;
	color: #3a3a3a;
}
.content-wrapper.h2-tag {
	font-size: 22px;
	line-height: 26px;
	color: #3a3a3a;
}
.content-wrapper.h3-tag {
	font-size: 18px;
	line-height: 24px;
	color: #3a3a3a;
}

.content-wrapper.h4-tag {
	font-size: 16px;
	line-height: 18px;
	color: #3a3a3a;
}

.content-wrapper.ul-tag, .content-wrapper.ol-tag, .content-wrapper.p-tag {
	font-size: 16px;
	line-height: 24px;
	min-height: 44px;
	background: #F6F6F6;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

.content-wrapper.ol-tag  {
	list-style: decimal;
	list-style-position: outside;
	padding: 0 2.5%;

}

.content-wrapper.code-tag {
	padding: 8px;
	background: #f1f1f1;
	font-family: monospace;
	line-height: 16px;
}
 

.content-wrapper.code-tag:before,
.content-wrapper.code-tag:after {
	position: absolute;
	width: 2.5%;
	height: 100%;
	left: -2.5%;
	top:0;
	background: #F6F6F6;
	content: '';
}

.content-wrapper.media-img-tag,
.content-wrapper.media-video-tag {
	min-height: 200px;
	background: #fff;
}

.content-wrapper.container-tag { 
	min-height: 200px;
	background: #fff;
}

/* animations */
.new-element-fade { 
	-webkit-animation: new_element_fade 0.5s ease-out;
}

@-webkit-keyframes new_element_fade {
	
	0%  { background: #e2efff; }
	100% { background: #F6F6F6;  }
}
	

@media (min-width: 768px) {
	
.content-wrapper.media-img-tag, .content-wrapper.ul-tag, .content-wrapper.ol-tag, .content-wrapper.p-tag {
		width: 85%;
	}
}


@media (min-width: 900px) {
	
.content-wrapper.media-img-tag, .content-wrapper.ul-tag,.content-wrapper.ol-tag, .content-wrapper.p-tag {
		width: 65%;
	}
}
